#title {
    text-align: center;
    padding: 2px;
    text-decoration: underline;
    border-top: solid black;
}

#button {
    padding: 3%;
    text-align: center;
}

#reimbursementForm {
    margin-top: 2%;
    margin-left: 2%;
    padding: 3%;
    border-left: solid black;
    border-right: solid black;
}

#nReimbursements {
    text-align: center;
    text-decoration: underline;
    
}

#pReimbursements {
    text-align: center;
    /* border-left: solid black;
    border-right: solid black; */
    text-decoration: underline;
    /* border-radius: 100%; */
}

#rReimbursements {
    text-align: center;
    text-decoration: underline;
}

#rAmount {
    margin-top: 2%;
}

#pReimbursementsBody {
    text-align: center;
    padding: 3%;
    border-left: solid black;
    border-right: solid black;
}

#rReimbursementsBody {
    text-align: center;
    margin-right: 2%;
    padding: 3%;
    border-left: solid black;
    border-right: solid black;
}

#nReimbursementsImg {
    text-align: center;
}